body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white; /* Set text color to white for better readability */
  }

  /* Set white background for the .container */
  .container {
    color: black;
    background-color: white;
    margin: 20px 350px 20px 350px;
    border-radius: 5px;

    height: auto;
    padding: 20px; /* Add padding for better spacing */
  }

  .details {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
  }
  .summary li{
    margin-top: 10px;
  }

  .name {
    padding-bottom: 10px;
    margin-left: 22px;
    font-weight: bold;
    font-size: 33px;
    margin-top: 20px;
    color: black; /* Optionally, set text color to black for contrast */
  }
  .address {
    margin-bottom: -9px;
  }

  .address ul {
    list-style: none;
    display: flex;
    gap: 5px;
    font-size: 20px;
    color: black; /* Optionally, set text color to black for contrast */
  }
  .heading {
    padding: 0;
    margin: 0 0 0 8px;
  }
  .dates {
    list-style: none;
  }
  /* .experience ul {
    display: flex;
    justify-content: space-between;
  } */
  .ulstyling{
    display: flex;
    justify-content: space-between;
  }

  .companyname, .roleofemployee{
    margin-left: 39px;
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
  }
  .projectdetails ul{
    list-style: none;
    li{
        margin-top: 10px;
    }
  }
  .projectdetails li::before {
    content: "➢"; 
    margin-right: 5px; 
  }
  .projectdetails{
    margin-left: 10px;
  }
  .companynamecolor{
    color: grey;
  }

  a{
    color: blue;
    list-style: none;
    text-decoration: none;
  }

  .projectdetails li::before {
    content: "➢"; 
    margin-right: 5px; 
  }